.logo {
    border-top: 4px solid #648880;
    float: left;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: .5px;
    line-height: 44px;
    padding: 40px 0 350px 0;
    padding-left: 50px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    border-top: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.head{
    background-color: #c46161;
    height: 500px;
    padding-left: 30px;
    padding-right: 30px;
}
.nav{
    text-align: right;
}
.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

.nav li:last-child {
  margin-right: 0;
}

.main-navbar {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
  }
  
  .primary-header a:hover{
    color: #648880;
  }

  .group {
    clear: both;
    *zoom: 1;
  }

  .group:before,
.group:after {
  content: "";
  display: table;
}

.header-sentence {
    margin: 80px 0 22px 0;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
  }

  .header-paragraph {
    color: #000000;
    line-height: 44px;
    padding: 20px 80px 100px 80px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

  }

  .controller{
    padding-left: 30px;
    padding-right: 30px;
  }

  .btn {
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
  }
  
  
  .btn-alt {
    border: 1px solid #fff;
    padding: 10px 30px;
  }