body {
    background-color: rgb(247, 195, 229);
}

td {
    vertical-align: top;
}

td.h1 {
    width: 80%;
}


h1 {
    color: rgba(240, 3, 3, 0.486);
    text-align: center;
    scale: 1 100%;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

div.head {
    height: 100px;
    width: 100%;
    background: linear-gradient(to right, #ff3399 10%, #c2c2c27a 40%);
    color: #387069;
    text-align: center;
    font-size: xx-large;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

td.table-cell {
    width: 33%;
    border-radius: 15px;
    vertical-align: top;
}

td.table-cell-1 {
    background-color: rgb(140, 195, 216);
    width: 33%;
    padding: 20px;
}

td.table-cell-2 {
    background-color: rgba(223, 189, 193, 0.993);
    width: 33%;
    padding: 20px;
}

td.table-cell-3 {
    background-color: rgba(134, 161, 145, 0.884);
    width: 33%;
    padding: 20px;
}

table {
    width: 100%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

table.block1 {
    margin: 60px;
}

a.highlight:hover {
    color: #ff0000;
    font-size: 22px;
}


ul.checkbox{
    list-style-type:none;
}
 ul.table-cell-1{
    list-style-type: disc;
 }

 .logo{
    width: 20%;
 }